@use '../variables' as *;
@use '../breakpoints' as *;

.categories {
  margin-bottom: 48px;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 11px 23px;
    flex-wrap: wrap;

    &-item {
      text-align: center;
      min-width: 135px;
      height: 112px;
      padding: 22px 28px 16px;
      background: $light-green-background;
      border-radius: 8px;
      & img {
        margin: 0 auto 6.5px;
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
  @include for-medium-up {
    margin: 64px 0;
    &__title {
      font-size: 28px;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
      &-item {
        min-width: 127px;
      }
    }
  }
  @include for-xl-up {
    margin-bottom: 64px;
    &__list {
      grid-template-columns: repeat(8, 1fr);
      gap: 16px;
      &-item {
        width: 135px;
      }
    }
  }
}
