@use '../breakpoints' as *;
.events {
  margin: 20px 15px 0;
  &-near {
    margin-bottom: 65px;
    &__nav {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
      & img {
        margin-left: -30px;
      }
    }
    &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24.67px;
    }
    &__input {
      width: 164px;
      color: #00798a;
      font-size: 13.71px;
      font-weight: 600;
      line-height: 16.45px;
      padding: 8px 28px 8px 8px;
      border: none;
      border-radius: 6px;
      background: #97cad11f;
    }
  }
  &__near-list,
  &__uncoming-list {
    margin-bottom: 20px;
  }
  &-uncoming__nav {
    margin-bottom: 17px;
  }
  &__list-item {
    display: flex;
    gap: 7.5px;
    padding-top: 10px;
    border-top: 0.61px solid #d9d9d9;
  }
  &__date--desktop,
  &__status--desktop {
    display: none;
  }
  &__date--mobile {
    color: #7c6f50;
    font-size: 8.58px;
    font-weight: 500;
    line-height: 12.26px;
  }

  &__text {
    padding: 2px 0 0;
  }
  &__title {
    font-size: 9.64px;
    font-weight: 500;
    line-height: 14.46px;
  }
  &__location {
    color: #707070;
    font-family: Roboto;
    font-size: 8.44px;
    font-weight: 400;
    line-height: 12.05px;
    margin-bottom: 30px;
  }
  &__img {
    position: relative;
    width: 98px;
    height: 55px;
    background: url(../assets/image/event1.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__online {
    display: none;
    position: absolute;
    bottom: 0;
    right: -60px;
    font-size: 7.3px;
    font-weight: 500;
    line-height: 9.73px;
    color: #707070;
    &::after {
      position: absolute;
      content: url(../assets/icon/camera.svg);
      left: -10px;
      bottom: -1px;
    }
  }
  &__link {
    color: #00798a;
    font-size: 12px;
    font-weight: 500;
    line-height: 9.73px;
  }

  &__status--mobile {
    font-size: 8.44px;
    line-height: 12.05px;
    color: #707070;
  }

  @include for-small-up {
    .events {
      &__img {
        min-width: 196px;
        height: 110px;
      }
      &__status--mobile,
      &__location,
      &__date--mobile {
        font-size: 12px;
      }
      &__title {
        font-size: 16px;
        margin: 5px 0;
      }
      &__online {
        font-size: 10px;
        right: -75px;
        bottom: 40%;
        &::after {
        }
      }
    }
  }
  @include for-medium-up {
    max-width: 580px;
  }
  @include for-large-up {
    max-width: 890px;
  }
  @include for-xl-up {
    max-width: 1200px;
  }
}
